<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well glass">
            <div class="field form-group">
                <%= label :first_name, "First Name" %>
                <%= text_field "person", "name", class: "form-control", placeholder: "Joe" %>
            </div>

            <div class="field form-group">
                <%= label :last_name, "Last Name" %>
                <%= text_field "person", "name", class: "form-control", placeholder: "Bloggs" %>
            </div>

            <div class="actions form-group">
                <%= button "Insert", class: "btn btn-primary" %>
                <button type="submit" class="btn btn-default">Insert</button>
            </div>
        </div>
    </div>
</div>
